@page "/"
@inherits ViewModels.BeerListBase

<h2>Beers page</h2>

@if (Beers is null || Beers.Count() is 0)
{
    <div class="spinner"></div>
    <h2>Nothing to see here... yet!</h2>
}
else
{
    <h3>Beers' list</h3>
    <div class="card-deck">
        @foreach (var beer in Beers)
        {
            <div class="card m-3" style="min-width: 18rem; max-width:40%;">
                <div class="card-header">
                    <h3>Name: @beer.Name</h3>
                    <h3>SSN: @beer.Quality.ToString()</h3>
                </div>
            </div>
        }
    </div>
    <button class="btn btn-danger m-1" @onclick=DeleteAllBeers>DeleteAll</button>
}